.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:properties, :index)
      %li.active=link_to pat(:new), url(:properties, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:property)
    .inner
      -form_for :property, url(:properties, :create), :class => :form do |f|
        =partial "properties/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
