.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:property_types, :index)
      %li.active=link_to pat(:new), url(:property_types, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:property_type)
    .inner
      -form_for :property_type, url(:property_types, :create), :class => :form do |f|
        =partial "property_types/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
